main {
    background-color: #121212;
    color: #e8e8e8;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding-top: 92px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;

    @include mobile {
        padding-top: $mobile-menu-height;
        width: 100%;
    }

    &.no-menu {
        padding-top: 0;
    }
}

footer {
    width: 100%;
    text-align: center;
    color: #999999;
    display: flex;
    justify-content: center;
    font-size: 0.7em;

    p {
        margin: 0;
    }
}

.is-minimal-menu {
    main {
        width: 100%;
        padding-top: 92px;

        @include mobile {
            padding-top: $mobile-menu-height;
        }
    }
}
