---
---
// {% if site.data.metaData.lightTheme %}
// @import "./variables/light-theme";
// {% else %}
// @import "./variables/black-theme";
// {% endif %}
@import "minimal-music-project";

/* Link overrides */
a {
  color: #2f324b;
  text-decoration: underline;
}

a:hover, a:focus {
  color: #2f324b;
  text-decoration: underline;
}

article {
  scroll-margin-top: 80px;
}

article:target {
  animation: highlight 3s ease;
}

@keyframes highlight {
  0%   { background: rgba(255,255,0,0.3); }
  100% { background: transparent; }
}

html {
  scroll-behavior: smooth;
}
